In [115]:
#Q.1
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
def list_sort():
     for i in l:
        if type(i)==int:
           sort()
     return l

In [116]:
l1=list(map(lambda x: list_sort(),l))

In [117]:
l1

[[('Sachin Tendulkar', 34357),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohli', 24936)],
 [('Sachin Tendulkar', 34357),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohli', 24936)],
 [('Sachin Tendulkar', 34357),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohli', 24936)],
 [('Sachin Tendulkar', 34357),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohli', 24936)]]

In [25]:
#Q.2
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
#Q.3
l=[1,2,3,4,5,6,7,8,9,10]

In [38]:
tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [49]:
#Q.4
from functools import reduce
l=range(1,26)
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [58]:
#Q.5
l=[2,3,6,9,27,60,90,120,55,46]
print("Numbers divisible by 2")
list(filter(lambda x: x%2==0 ,l))

Numbers divisible by 2

[2, 6, 60, 90, 120, 46]

In [59]:
print("Numbers divisible by 3")
list(filter(lambda x: x%3==0 ,l))

Numbers divisible by 3

[3, 6, 9, 27, 60, 90, 120]

In [60]:
print("Numbers divisible by 2 and 3")
list(filter(lambda x: x%2==0 and x%3==0 ,l))

Numbers divisible by 2 and 3

[6, 60, 90, 120]

In [68]:
#Q.6
l=['python', 'php', 'aba', 'radar', 'level']
print("Palindromes in the given list are")
list(filter(lambda x:x==x[::-1],l))

Palindromes in the given list are

['php', 'aba', 'radar', 'level']